@import "../flex/flex-mixins";

@mixin hk-button-base() {
  @include hk-flex-container(row, $hk-button-icon-spacing, $inline: inline);
  align-items: center;

  border: none;
  border-radius: $hk-border-radius;
  cursor: pointer;
  font-size: $hk-font-size;
  justify-content: center;
  padding: $hk-button-padding;
  text-align: left;
  vertical-align: middle;
}

@mixin hk-button-height($height) {
  min-height: $height;
  min-width: $height;
}