# Prevent the following files and folders to be send to docker build context

# dependencies
**node_modules

.circleci
.github
.vscode
.git
.gitignore
.dockerignore
out
.storybook

# Compiled output
**.next
**dist
**lib

# design file
/design/

# e2e
e2e/results/
e2e/cypress/screenshots/
e2e/cypress/videos/