# dependencies
node_modules/

# Storybook
.storybook
/storybook-static

# next
/.next
/out
/public

# CI
/.github
/.circleci

# misc
/.git
*.scss.d.ts
dist/

# design
/design/

packages/TradingChart/
src/core/
src/pages/