# dependencies
node_modules/

Makefile

# eslint
.eslintrc.json
.eslintignore
.eslintrc.json

# git
.gitattributes
.gitignore

# npm
.npmignore
.npminstall

# ci
.circleci/
.github/
cloudbuild.yaml

# source
build/
.storybook/
e2e/
src/

# design
/design/

jest.config.js
babel.config.js

# misc
.tmp
.editorconfig
