/***
 * Text-related light version
 */
$hk-text-color: $dark-gray1 !default; // Default text color
$hk-text-color-muted: $gray1 !default; // Muted text color
$hk-text-color-disabled: rgba($hk-text-color-muted, 0.6) !default; // Disabled text color
$hk-heading-color: $hk-text-color !default; // Text color for headers
$hk-link-color: $blue2 !default; // Text color for headers

// Default text selection color using #7dbcff
$hk-text-selection-color: rgba(125, 188, 255, 0.6) !default;