@import "../../common/modules";
@import "./common";

/*
Text inputs
*/
.#{$ns}-input {
  @include hb-input();

  &::-ms-clear {
    display: none;
  }

  &.#{$ns}-large {
    @include hb-input-large();
  }

  &.#{$ns}-small {
    @include hb-input-small();
  }

  &.#{$ns}-fill {
    flex: 1 1 auto;
    width: 100%;
  }

  .#{$ns}-dark & {
    @include hb-dark-input();
  }

  @each $intent, $color in $hb-intent-colors {
    &.#{$ns}-intent-#{$intent} {
      @include hb-input-intent($color);

      .#{$ns}-dark & {
        @include hb-dark-input-intent($color);
      }
    }
  }
}
