$pt-intent-primary: $blue3 !default;
$pt-intent-success: $green3 !default;
$pt-intent-warning: $orange3 !default;
$pt-intent-danger: $red3 !default;

$pt-text-color: $dark-gray1 !default;
$pt-text-color-muted: $gray1 !default;

$pt-text-color-disabled: rgba($pt-text-color-muted, 0.6) !default;
