@import "colors_alias";
@import "flex";

$hb-intent-colors: (
  "primary": $hb-intent-primary,
  "success": $hb-intent-success,
  "warning": $hb-intent-warning,
  "danger" : $hb-intent-danger,
) !default;

$hb-intent-text-colors: (
  "primary": $blue2,
  "success": $green2,
  "warning": $orange2,
  "danger" : $red2,
) !default;

$hb-dark-intent-text-colors: (
  "primary": $blue5,
  "success": $green5,
  "warning": $orange5,
  "danger" : $red5,
) !default;

@function border-shadow($alpha, $color: $black, $size: 1px) {
  @return 0 0 0 $size rgba($color, $alpha);
}
