@import "colors";
@import "mixins";

// Namespace appended to the beginning of each CSS class: `.#{$ns}-button`.
// Do not quote this value, for Less consumers.
$ns: hk !default;

// easily the most important variable, so it comes up top
// (so other variables can use it to define themselves)
$hb-grid-size: 10px !default;

$hb-font-size: $hb-grid-size * 1.4 !default;
$hb-font-size-large: $hb-grid-size * 1.6 !default;
$hb-font-size-small: $hb-grid-size * 1.2 !default;

// Icon variables

$icons16-family: "Icons16" !default;
$icons20-family: "Icons20" !default;

// a little bit extra to ensure the height comes out to just over 18px (and browser rounds to 18px)
$hb-line-height: ($hb-grid-size * 1.8) / $hb-font-size + 0.0001 !default;

$hb-icon-size-standard: 16px !default;
$hb-icon-size-large: 20px !default;

// Grids & dimensions

$hb-border-radius: floor($hb-grid-size / 3) !default;

// Buttons
$hb-button-height: $hb-grid-size * 3 !default;
$hb-button-height-small: $hb-grid-size * 2.4 !default;
$hb-button-height-smaller: $hb-grid-size * 2 !default;
$hb-button-height-large: $hb-grid-size * 4 !default;

// Shadow opacities
$hb-border-shadow-opacity: 0.1 !default;
$hb-drop-shadow-opacity: 0.2 !default;
$hb-dark-border-shadow-opacity: $hb-border-shadow-opacity * 2 !default;
$hb-dark-drop-shadow-opacity: $hb-drop-shadow-opacity * 2 !default;

// Elevations
// all shadow lists must be the same length to avoid flicker in transitions.
$hb-elevation-shadow-0: 0 0 0 1px $hb-divider-black, 0 0 0 rgba($black, 0),
  0 0 0 rgba($black, 0) !default;
$hb-elevation-shadow-1: border-shadow($hb-border-shadow-opacity),
  0 0 0 rgba($black, 0), 0 1px 1px rgba($black, $hb-drop-shadow-opacity) !default;
$hb-elevation-shadow-2: border-shadow($hb-border-shadow-opacity),
  0 1px 1px rgba($black, $hb-drop-shadow-opacity),
  0 2px 6px rgba($black, $hb-drop-shadow-opacity) !default;
$hb-elevation-shadow-3: border-shadow($hb-border-shadow-opacity),
  0 2px 4px rgba($black, $hb-drop-shadow-opacity),
  0 8px 24px rgba($black, $hb-drop-shadow-opacity) !default;
$hb-elevation-shadow-4: border-shadow($hb-border-shadow-opacity),
  0 4px 8px rgba($black, $hb-drop-shadow-opacity),
  0 18px 46px 6px rgba($black, $hb-drop-shadow-opacity) !default;

$hb-dark-elevation-shadow-0: 0 0 0 1px $hb-dark-divider-black,
  0 0 0 rgba($black, 0), 0 0 0 rgba($black, 0) !default;
$hb-dark-elevation-shadow-1: border-shadow($hb-dark-border-shadow-opacity),
  0 0 0 rgba($black, 0), 0 1px 1px rgba($black, $hb-dark-drop-shadow-opacity) !default;
$hb-dark-elevation-shadow-2: border-shadow($hb-dark-border-shadow-opacity),
  0 1px 1px rgba($black, $hb-dark-drop-shadow-opacity),
  0 2px 6px rgba($black, $hb-dark-drop-shadow-opacity) !default;
$hb-dark-elevation-shadow-3: border-shadow($hb-dark-border-shadow-opacity),
  0 2px 4px rgba($black, $hb-dark-drop-shadow-opacity),
  0 8px 24px rgba($black, $hb-dark-drop-shadow-opacity) !default;
$hb-dark-elevation-shadow-4: border-shadow($hb-dark-border-shadow-opacity),
  0 4px 8px rgba($black, $hb-dark-drop-shadow-opacity),
  0 18px 46px 6px rgba($black, $hb-dark-drop-shadow-opacity) !default;

$primary-color: #166de0;
$primary-color--hover: darken($primary-color, 10%);

$sidebar-background-color: #145dbf;

// Random variables
$border-rad: 2px;

// Transitions
$hb-transition-ease: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$hb-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$hb-transition-duration: 100ms !default;

// Inputs
$hb-input-height: $hb-grid-size * 3 !default;
$hb-input-height-large: $hb-grid-size * 4 !default;
$hb-input-height-small: $hb-grid-size * 2.4 !default;

// Light theme styles

$hb-input-box-shadow: inset border-shadow(0.15),
  inset 0 1px 1px rgba($black, $hb-drop-shadow-opacity) !default;

// Dark theme styles

$hb-dark-input-box-shadow: inset border-shadow(0.3),
  inset 0 1px 1px rgba($black, $hb-dark-drop-shadow-opacity) !default;

$hb-dark-dialog-box-shadow: $hb-dark-elevation-shadow-4 !default;
$hb-dark-popover-box-shadow: $hb-dark-elevation-shadow-3 !default;
$hb-dark-tooltip-box-shadow: $hb-dark-popover-box-shadow !default;
