@import "flex";
@import "../abstracts/variables";

$button-padding: calc($hk-grid-size / 2) $hk-grid-size !default;
$button-icon-spacing: calc(($hk-button-height - $hk-icon-size-standard) / 2) !default;

@mixin hk-button-base() {
  @include hk-flex-container(row, $button-icon-spacing, $inline: inline);
  align-items: center;

  border: none;
  border-radius: $hk-border-radius;
  cursor: pointer;
  font-size: $hk-font-size;
  justify-content: center;
  padding: $button-padding;
  text-align: left;
  vertical-align: middle;
}

@mixin hk-button-height($height) {
  min-height: $height;
  min-width: $height;
}