@import "~@blueprintjs/icons/src/icons";
@import '../common/modules';

@mixin hb-icon-sized(
  $font-size: $hb-icon-size-standard,
  $font-family-size: strip-unit($font-size)
) {
  font-family: "Icons#{$font-family-size}", sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

@mixin hb-icon-font-smoothing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin hb-icon(
  $font-size: $hb-icon-size-standard,
  $font-family-size: strip-unit($font-size)
) {
  @include hb-icon-sized($font-size, $font-family-size);
  @include hb-icon-font-smoothing();
}
