$hk-intent-primary: $blue3 !default;
$hk-intent-success: $green3 !default;
$hk-intent-warning: $orange3 !default;
$hk-intent-danger: $red3 !default;

$hk-app-background-color: $light-gray5 !default;
$hk-dark-app-background-color: $dark-gray3 !default;

$hk-outline-color: rgba($blue3, 0.6);

/***
 * Text-related light version
 */
$hk-text-color: $dark-gray1 !default; // Default text color
$hk-text-color-muted: $gray1 !default; // Muted text color
$hk-text-color-disabled: rgba($hk-text-color-muted, 0.6) !default; // Disabled text color
$hk-heading-color: $hk-text-color !default; // Text color for headers
$hk-link-color: $blue2 !default; // Text color for headers

/***
 * Text-related dark version
 */
$hk-dark-text-color: $light-gray5 !default;
$hk-dark-text-color-muted: $gray4 !default;
$hk-dark-text-color-disabled: rgba($hk-dark-text-color-muted, 0.6) !default;
$hk-dark-heading-color: $hk-dark-text-color !default;
$hk-dark-link-color: $blue5 !default;

// Default text selection color using #7dbcff
$hk-text-selection-color: rgba(125, 188, 255, 0.6) !default;


/***
 * Icon-related light version
 */
$hk-icon-color: $hk-text-color-muted !default;
$hk-icon-color-hover: $hk-text-color !default;
$hk-icon-color-disabled: $hk-text-color-disabled !default;
$hk-icon-color-selected: $hk-intent-primary !default;

/***
 * Icon-related light version
 */
$hk-dark-icon-color: $hk-dark-text-color-muted !default;
$hk-dark-icon-color-hover: $hk-dark-text-color !default;
$hk-dark-icon-color-disabled: $hk-dark-text-color-disabled !default;
$hk-dark-icon-color-selected: $hk-intent-primary !default;

/***
 * Divider
 */
$hk-divider-black: rgba($black, 0.15) !default;
$hk-dark-divider-black: rgba($black, 0.4) !default;
$hk-dark-divider-white: rgba($white, 0.15) !default;

/***
 * Code-related color
 */
$hk-code-text-color: $hk-text-color-muted !default;
$hk-dark-code-text-color: $hk-dark-text-color-muted !default;
$hk-code-background-color: rgba($white, 0.7) !default;
$hk-dark-code-background-color: rgba($black, 0.3) !default;

// "cobalt" is becoming "cerulean" in Blueprint 4.0
// for a smoother migration, we provide these aliases so that consumers
// can reference the new names in 3.x
$cerulean1: $cobalt1;
$cerulean2: $cobalt2;
$cerulean3: $cobalt3;
$cerulean4: $cobalt4;
$cerulean5: $cobalt5;