@import "icon-variables";

$icon-classes: (
  ".icon",
  ".icon-standard",
  ".icon-large"
) !default;

@mixin hk-icon-font-smoothing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin hk-icon-sized(
  $font-size: $hk-icon-size-standard,
  $font-family-size: strip-unit($font-size)
) {
  font-family: "Icons#{$font-family-size}", sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

@mixin hk-icon-colors() {
  color: $hk-icon-color;

  &:hover {
    color: $hk-icon-color-hover;
  }

  .#{$ns}-dark & {
    color: $hk-dark-icon-color;

    &:hover {
      color: $hk-dark-icon-color-hover;
    }
  }
}

@mixin hk-icon(
  $font-size: $hk-icon-size-standard,
  $font-family-size: strip-unit($font-size)
) {
  @include hk-icon-sized($font-size, $font-family-size);
  @include hk-icon-font-smoothing();
}