@import "button_common";

@mixin hb-button-base() {
  @include hb-flex-container(row, $button-icon-spacing, $inline: inline);
  align-items: center;

  border: none;
  border-radius: $hb-border-radius;
  cursor: pointer;
  font-size: $hb-font-size;
  justify-content: center;
  padding: $button-padding;
  text-align: left;
  vertical-align: middle;
}

@mixin hb-button() {
  background-color: $button-background-color;
  background-image: $button-gradient;
  box-shadow: $button-box-shadow;
  color: $hb-text-color;

  &:hover {
    @include hb-button-hover();
  }

  &:active,
  &.#{$ns}-active {
    @include hb-button-active();
  }

  &:disabled,
  &.#{$ns}-disabled {
    @include hb-button-disabled();
  }
}

.#{$ns}-button {
  @include hb-button-base();
  @include hb-button-height($hb-button-height);

  // &:empty {
  //   // override padding from other modifiers (for CSS icon support)
  //   // stylelint-disable-next-line declaration-no-important
  //   // padding: 0;// !important;
  // }

  &:not([class*="#{$ns}-intent-"]) {
    @include hb-button();
  }

  // intents
  @each $intent, $colors in $button-intents {
    &.#{$ns}-intent-#{$intent} {
      @include hb-button-intent($colors...);
    }
  }
}